@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$verydarkblue: hsl(212, 86%, 64%);
$grayishblue: hsl(229, 6%, 66%);
$verylightgray: hsl(0, 0%, 98%);


$poppins: 'Poppins', sans-serif;

$base-font-color: $grayishblue;

$base-font-size: 15px;
$mobile-font-size: 11px;
$title-font-size: 26px;

$normal-font: 200;
$bold-font: 400;
$bolder-font: 600;
